<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p>HTML5 offers new semantic elements that define different parts of a web page:</p>
<table border="1">
<tbody>
<tr><td colspan="2">&lt;header&gt;</td></tr>
<tr><td colspan="2">&lt;nav&gt;</td></tr>
<tr><td>&lt;section</td><td rowspan="2">&lt;aside&gt;</td></tr>
<tr><td>&lt;ariticle&gt;</td></tr>
<tr><td colspan="2">&lt;footer&gt;</td></tr>
</tbody>
</table>

<hr>
<table border="1">
<tbody>
<tr><td>header</td><td>Defines a header for a document or a section</td></tr>
<tr><td>nav</td><td>Defines a container for navigation links</td></tr>
<tr><td>section</td><td>Defines a section in a document</td></tr>
<tr><td>article</td><td>Defines an independent self-contained article</td></tr>
<tr><td>aside</td><td>Defines content aside from the content (like a sidebar)</td></tr>
<tr><td>footer</td><td>Defines a footer for a document or a section</td></tr>
<tr><td>details</td><td>Defines additional details</td></tr>
<tr><td>summary</td><td>Defines a heading for the details element</td></tr>
</tbody>
</table>
</body>
</html>